<div class="container" *ngIf="product">
  <h2>Selected product</h2>
  id: <br />
  <form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" id="name" type="text" formControlName="name"/>
    </div>
    
    <div class="form-group">
      <label for="price">Price:</label>
      <input class="form-control" id="price" type="number" formControlName="price"/>
    </div>
    
    <div class="form-group">
      <label for="category">Category:</label>
      <input class="form-control" id="category" formControlName="category"/>
    </div>

    <input type="submit" class="btn btn-default" [disabled]="productDetailsForm.invalid" value="Save">
  </form>
</div>