<div class=""><span>Row count = {{rows}}</span></div>
<div class="">
  <label>Category</label>
  <select class="custom-select" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
    <option value="all" selected> Select All </option>
    <option *ngFor="let option of options" [value]="option">{{option}}</option>
  </select>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of selectedData | slice : 0 : [rows]; let i = index" [style.color]="product.price == 500 ? 'red' : ''">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
        <td><button (click)="deleteRow(i)">Delete row</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div><app-product-create [(Products)]="Products" ngDefaultControl></app-product-create></div>
